@import url("https://fonts.googleapis.com/css?family=VT323");
html {
  background: url(https://i.imgur.com/fLVXu6r.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "VT323";
  font-size: 18px;
}
#neutrino {
  margin: 0 auto;
  border-style: SOLID;
}
#math {
  color: rgb(250, 150, 60);
}
#emo {
  color: rgb(50, 200, 250);
}
#post {
  color: rgb(0, 250, 46);
}

.wrap,
.shadow {
  opacity: 0.9;
  background-color: black;
  width: 85%;
  margin: 3% auto;
  color: white;
  align: center;
  font-weight: 900;
}
p {
  background-color: black;
  font-size: 1.5em;
}
i {
  margin: -1x;
}
.shadow {
  box-shadow: 5px 10px 5px 10px;
  color: black;
  width: 70%;
  opacity: 0.86;
}
.members {
  border-style: solid;
  display: relative;
  margin: 0 auto;
}
img {
  height:300px;
  width:300px;
}
.all {
  opacity: 1;
}
h2,
h1,
p,
h4,
h3 {
  text-align: center;
  font-weight: 900;
}
#mem {
  display: block;
  height: 300px;
  margin: 0 auto;
  position: relative;
}
#S {
  color: cyan;
}
#A {
  color: orange;
}
#T {
  color: yellow;
}
#Y {
  color: lightgreen;
}
#R {
  color: violet;
}

a {
  color: pink;
  text-decoration: none;
  margin:2px;
}
canvas{
  max-width:300px;
  height:200px;
  display:block;
  align:center;
  margin:0 auto;
  padding-top:8px;
  margin-bottom:-30px;
  background-color:black;
}
p{
  margin:1px;
}
#music{
  margin:auto;
  text-align:center;
}

#merch{
 color:lightgreen;
}
#twitt{
  color:lightblue;
}
#insta{
  color:rgb(170,100,200);
}
#fb{
  color:rgb(100,100,200);
}



