@import url("https://fonts.googleapis.com/css?family=VT323");

body {
  background-image: url(https://pixabay.com/get/eb37b80a2cf7003ed1534705fb0938c9bd22ffd41cb1194891f3c179af/spring-bird-2295431_1920.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "VT323";
  FONT-SIZE:18PX;
}
#neutrino {
  align: center;
  position: relative;
  display: block;
  border-style: solid;
  border-color: transparent;
  border: 0;
  width: 99%;
  height: 300px;
  padding: 1px;
}
#math {
  color: rgb(250, 150, 60);
}
#emo {
  color: rgb(50, 200, 250);
}
#post {
  color: rgb(0, 250, 46);
}
img {
  position: fixed;
}
.wrap,
.shadow {
  opacity: 0.90;
  background-color: black;
  width: 65%;
  margin: 3% auto;
  color: white;
  align: center;
  font-weight: 900;
}
p {
  background-color: black;
}
.shadow {
  box-shadow: 5px 10px 5px 10px;
  color: black;
  width: 70%;
  opacity: 0.66;
}

.all {
  opacity: 1;
}
h2,
h1,
p,
h4 {
  text-align: center;
  font-weight: 900;
}
