@import url("https://fonts.googleapis.com/css?family=Nanum+Pen+Script");

html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}
.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}
.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  background-color:red;
}
body {
  background: linear-gradient(#00ff00, #00FFFF, #ffe4e1, #00FF7F );
  color: black;
  font-family: "Nanum Pen Script", cursive;
  font-size:1em;
}
a{
  text-decoration: none;
}
.page-wrapper{
  width:100%;
}
li a:hover {
  background-color: pink;
  cursor: pointer;
}
.andromeda {
  text-align:center;
}
.neutrino {
  width: 10%;
  float: left;
}
#album {
  text-align: center;
  width: 30%;
  float: left;
  margin: 5px;
}

/* nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: pink;
  background: linear-gradient(cyan, pink, lightgreen);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
/* end nav bar*/
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
#neutrino-tour{
  display:inline;
  float:left;
  margin:0;
  text-align:center;
}
#satyr{
  width:50%;
}
#us{
  width:100%;
  margin:0px;
  padding:0px;
  height:90%;
}
.tour{
  width:auto;
  text-align:center;
}
#ts3{
  max-width:auto;
  height:350px;
  text-align:center;
}
.merch{
  height:300px;
  width:250px;
}
.merch-pics{
  display:inline;
  text-align: center;
}
